{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <br><br>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="input-grup">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="Upload" class="btn btn-outline-secondary">
            </div>

        </form>
        <h1> voce esta na pagina index</h1>
    </div>
    {% if upload%}
        <div class="container">
            <table>
                <tr>
                    <td>
                        <img class="rounded float-left img-fluid" src="/home/deb/code/static/upload/{{upload_image}}" alt="">
                    </td>
                    <td>
                        <img class="rounded float-right img-fluid" src="/home/deb/code/static/predict/{{upload_image}}" alt="">
                    </td>
                </tr>
            </table>

        </div>
    {% endif %}
{% endblock  %}